body {
  background-color: #a6abb391 !important;
  overflow-x: hidden;
}

span {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}


button {
  width: 110px;
  border-radius: 15px;
  border-style: outset;
}


#input {
  background: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 15px;
  transition: border 0.5s ease;
  outline: none;
  text-align: center;
  margin-right: 15px;
  outline: none;
}

#input:focus {
  outline: none;
}

.main-container {
  display: flex;
  
}

.left-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.right-container {
  width: 50vw;
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cities {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.hide {
  display: none !important;
}

.weatherData {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
}

.weatherIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherBorder {
  border: 3px solid;
  border-radius: 10px;
  width: 440px;
  height: 206px;
  background-color: #f0f8ff78;
}

#wiki {
  display: flex;
  justify-content: center;
}

#wiki a {
  background-color: green !important;
}

#wiki_btn:hover {
  background-color: rgb(97, 212, 97) !important;
}

.weatherIcon img {
  width: 180px;
}

.btn {
  margin: 15px !important;
  background-color: gray !important;
}

.btn:hover {
  background-color: #0d6efd !important;
}

#button-addon1 {
  background-color: #0d6efd;
  color: black;
}

#button-addon1:hover {
  background-color: #518de7 !important;
  color: antiquewhite !important;
}

.slider {
  height: 49vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider1 {
  height: 49vh;
  display: flex;
}


.img-container img{
  width: 100vw;
  height: 49vh;
  object-fit: cover;
  object-position: center;
  
}


.middle-container {
  height: 20vh;
}

.next {
  transform: translateX(33.33%);
  transition: transform 2000ms ease-in-out;
}

.next2 {
  transform: translateX(-33.33%);
  transition: transform 2000ms ease-in-out;
}

.next3 {
  transform: translateX(0%);
  transition: transform 2000ms ease-in-out;
}

